
dash==2.6.0
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0


Flask==2.2.2


gspread==5.7.2
gspread-dataframe==3.3.0



numpy==1.23.5

pandas==1.5.2

plotly==5.11.0
prince==0.7.1

scipy==1.9.3


gunicorn
